<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingxue.mapper.RoleMapper">
	<insert id="insertRoleModule">
		insert into demo_rbac_role_module(role_id,module_id) values(#{roleId},#{moduleId})
	</insert>
	
	<delete id="deleteRoleModule">
		delete from demo_rbac_role_module where role_id=#{roleId}
	</delete>
	
	<select id="findAll" resultType="com.xingxue.entity.Role">
		select id, name from demo_rbac_role
	</select>
</mapper>